<div class="container3">
	<u><p>Population Information</p></u>
	<form ng-submit="mc.po(mc.us)">
<input type="text" placeholder="Enter the country" ng-model="mc.us.Country"><br><br>
<input type="text" placeholder="Enter the population in millions" ng-model="mc.us.Pop_in_millions"><br><br>
<button type="submit">Submit</button><br>
</form>
<button type="submit" ng-click="mc.gett()">Get the information</button>
    <table>
    <tr>
    <th>id</th>
    <th>Country</th>
    <th>Population in millions</th>
    </tr>
    <tr ng-repeat="d in mc.details">
    <!-- <td>{{d.mc.$$hashKey}}</td> -->
     <td>{{d.id}}</td>
    <td>{{d.Country}}</td>
   	<td>{{d.Pop_in_millions}}</td>
    
    </tr>
    </table>

</div>